@model emp_management.ViewModes.HomeDetailsViewModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@Model.PageTitle</h3>

    @{ 
        //var emp = ViewData["Employee"] as emp_management.Models.Employee;

    }

    <table border="1" >
        <tr>
            <td>
                ID:
            </td>
            <td>
                @Model.Employee.Id
            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                @Model.Employee.Name
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                @Model.Employee.Email
            </td>
        </tr>
        <tr>
            <td>
                Dept:
            </td>
            <td>
                @Model.Employee.Department
            </td>
        </tr>
    </table>
</body>
</html>